add_modified.sh
tunnel.sh
.DS_Store
Categoricals-checkpoint.ipynb
MVP-checkpoint.ipynb
Untitled1-checkpoint.ipynb
animal-eda-checkpoint.ipynb
animals-eda-checkpoint.ipynb
clean_engineer-checkpoint.ipynb
animalhelper.cpython-36.pyc
aac_intakes.csv
aac_intakes_outcomes.csv
aac_outcomes.csv
concat_backup.csv
df_cat.csv
df_dog.csv
df_mod.csv
engineered.csv
master_df.csv
